*{
    margin: none;
    padding: none;
}
body{
    margin: 0;
    padding: none;
    background-color: #e1e1e1;
}

header{
    background-color: #3d50f8;
    margin: none;
    color: white;
    font-family: -Roboto, sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header span{
    font-size: 40px;
    font-weight: bold;
    margin: 25px 0 25px 25px;
    padding: 5px 15px;
    border: 2px solid white;
}

header ul{
    list-style: none;
    margin-right: 100px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul li{
    margin: 0 40px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    color: rgba(255, 255, 255, 0.9);
    transition: 0.3s;
}
header ul li::after{
    content: "";
    background: white;
    position: absolute;
    top: 99.9%;
    right: 100%;
    height: 15px;
    width: 100%;
    transition: 0.3s;
}

header ul li:hover{
    color: white;
}
header ul li:hover::after{
    transform: translate(100%, 0);
}

header a{
    text-decoration: none;
    color: inherit;
}

.thisPage{
    color: white;
}
.thisPage a{
    cursor: default;

}
.thisPage::after{
    transform: translate(100%, 0);
}

#content{
    margin: 25px;
    padding: 25px;
    background: white;
    border: solid #182de7;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
}
.section h1{
    width: 100%;
}

.card{
    width: 250px;
    height: 200px;
    border: 3px solid #182de7;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
}

.cardImage{
    background: none;
}
.cardImg img{
    position: absolute;
    width: 250px;
    height: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}
.cardContent{
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    padding: 25px 15px 0 15px;
    top: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.3s;
}
.card:hover > .cardContent{
    transform: translate(0, -100%);
}